<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：该mapper.xml映射文件的唯一标识 -->
<mapper namespace="com.mall.dao.OrderReturnApplyDao">

    <select id="getAllByUsernameForPage" resultType="com.mall.vo.OrderReturnApplyPageVO">
        SELECT id, member_username, order_sn, create_time, status
        FROM t_order_return_apply
        <if test="username != null">
            WHERE member_username = #{username}
        </if>
    </select>

</mapper>